.App {
  text-align: center;
  height: 100%;
  padding: 10px;
  padding-bottom: 5px;
}

td {
  text-align: left;
}

.k {
  border-top-style: hidden;
}

header {
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: larger;
}

.td1 {
  width: 40%;
  font-weight: 500;
}

.panchangTable {
  font-size: small;
  padding-bottom: 40px;
  border-color: #da7e3d;
  color: #a80000;
}
